body {
    background-color: #fff;
    font-family: "PT Serif", serif;
    margin: 0;
    color: #87796a;
}

.header {
    border-bottom: 2px solid #87796a;
    background-color: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.header__logo {
    color: #87796a;
    text-decoration: none;
    font-size: 28px;
    grid-column: 2;
    text-align: center;
}

nav {
    grid-column: 3;
    justify-self: end;
}

.logout-btn {
    background-color: #eee;
    padding: 8px 20px;
    text-decoration: none;
    color: #87796a;
    border-radius: 5px;
    font-size: 14px;
    display: inline-block;
}

.admin__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.admin__title {
    font-size: 30px;
    margin-bottom: 30px;
    color: #87796a;
    text-align: center;
}

.search-form {
    margin-bottom: 40px;
    padding: 20px;
}

.search-form__inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
    margin-bottom: 0;
}

.search-form__item {
    display: flex;
}

.search-form__item input,
.search-form__item select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    color: #87796a;
    width: 100%;
    box-sizing: border-box;
}

.search-form__item,
.search-form__button-submit,
.search-form__button-reset {
    flex: 1;
    width: auto;
}

.search-form__button {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.search-form__button-submit,
.search-form__button-export,
.search-form__button-reset {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}

.search-form__button-submit {
    background-color: #8b7969;
}

.search-form__button-export {
    background-color: #e0e0e0;
    color: #333;
    padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        font-size: 14px;
}

.search-form__button-reset {
    background-color: #d9c6b5;
    text-decoration: none;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.pagination__item {
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    border-radius: 0px;
    border: 1px solid #ddd;
    margin: 0 2px;
    background-color: #fff;
    display: inline-block;
    min-width: 30px;
}

.pagination__item--active {
    background-color: #8b7969;
    color: #fff;
    border-color: #8b7969;
}

.pagination .page-item a,
.pagination .page-item span {
    text-decoration: none;
    color: #333;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #fff;
    display: block;
    margin: 0;
}

.pagination>div:first-child {
    display: none;
}

.pagination svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.admin-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.admin__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    order: 2;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.admin-table__header {
    background-color: #8b7969;
    color: #fff;
    text-align: left;
    padding: 10px 15px;
    font-weight: normal;
    border-right: 1px solid #7a7a7a;
}

.admin-table__header:last-child {
    border-right: none;
}

.admin-table__item {
    background-color: #fff;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.admin-table__item:last-child {
    border-right: none;
    text-align: center;
}

.admin-table__detail-btn {
    background-color: #d9c6b5;
    border: 1px solid #ccc;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 4px;
    color: #333;
    text-decoration: none;
    display: inline-block;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal-overlay:target {
    display: flex;
}

.modal__window {
    background: #fff;
    padding: 50px;
    border: 1px solid #ddd;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    position: relative;
    max-width: 650px;
    width: 90%;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #333;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.modal-table th,
.modal-table td {
    padding: 5px 10px;
    text-align: left;
}

.modal-table th {
    width: 40%;
}

.modal__footer {
    text-align: right;
}

.delete-btn {
    background: #ff4d4d;
    color: #fff;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}