.confirm__content {
    margin: 0 auto;
    padding: 10px 40px 40px 40px;;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    color: #87796a;
}

.form {
    margin: 0 auto;
    width: 100%;
    color: #87796a;
}

.confirm-table__container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.confirm-table {
    width: 100%;
    border-collapse: collapse;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 25%;
    color: #fff;
    border-bottom: 1px solid #ddd;
    background-color: #87796a;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #333;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    flex-direction: row;
}

.form__button-submit {
    padding: 5px 30px;
    border: none;
    border-radius: 3px;
    background: #8b7969;
    color: #fff;
    cursor: pointer;
    width: auto;
}

.form__button-back {
    padding: 10px 40px;
    background-color: transparent;
    color: #8b7969;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}