body {
    background-color: #cac2b7;
    font-family: "PT Serif", serif;
    margin: 0;
}

.header {
    border-bottom: 2px solid #87796a;
    background-color: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.header__logo {
    color: #87796a;
    text-decoration: none;
    font-size: 28px;
    grid-column: 2;
    text-align: center;
}

nav {
    grid-column: 3;
    justify-self: end;
}

.register-btn {
    background-color: #eee;
    padding: 8px 20px;
    text-decoration: none;
    color: #87796a;
    border-radius: 5px;
    font-size: 14px;
    display: inline-block;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    padding: 60px 0;
}

.login__title {
    font-size: 30px;
    margin-bottom: 30px;
    color: #87796a;
    text-align: center;
}

.login__container {
    background-color: #fff;
    padding: 80px 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}
.form-group {
    text-align: left;
    margin-bottom: 30px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #87796a;
}

.form-group input::placeholder {
    color: #aaa;
    font-size: 12px;
}

.submit-btn {
    background-color: #87796a;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

